[submodule "apps"]
	path = apps
	url = git@github.com:mtiller/book-apps.git
[submodule "generator"]
	path = generator
	url = git@github.com:mtiller/book-generator.git
[submodule "nextgen"]
	path = nextgen
	url = git@github.com:mtiller/book-nextgen.git
