build
demosite
*~
*.pyc
*.mat
*.lib
*.exe
dsmodel.c
*.exp
request
status
coverage_report.html
ModelicaByExample/*.mat
ModelicaByExample/*.txt
ModelicaByExample/*.lib
ModelicaByExample/*.exe
ModelicaByExample/*.c
ModelicaByExample/*.exp
ModelicaByExample/**/*.pdf
source/Examples/*.mat
source/Examples/*.txt
source/Examples/*.lib
source/Examples/*.exe
source/Examples/*.c
source/Examples/*.exp
