.ol-list {
    color:#eee;
}
.ol-list ol {
    font-size:18px;
}
.ol-list ol li { }
.ol-list ol li ol {
    list-style-image: url("../images/nested.png");
    padding:5px 0 5px 18px;
    font-size:15px;
}

.ol-list ol li ol li {
    color:#bfe1f1;
    height:15px;
    margin-left:10px;
}
